/*------------------------------------------------General-------------------------------------------------------*/

/* Color pallete*/
#E4F9F5
#30E3CA
#11999E
#40514E
/* Color pallete*/

h2 {
  font-family: Arial;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

input {
  border: none;
  border-radius: 0.5rem;
}

p {
  font-family: Arial;
  font-size: 1rem;
}

/*------------------------------------------------Main Content-------------------------------------------------------*/
.main-content {
  display: flex;
  overflow: hidden;
  border-radius: 2rem;
  width: 50rem;
  height: 35rem;
  margin: 2rem;
}

/*------------------------------------------------Left Content-------------------------------------------------------*/

.left-content {
  background-color: #E4F9F5;
  flex: 1.5;
  padding: 1.5rem 1.5rem;
  align-items: center;
}

.logo {
  width: 4rem;
}

.icons-div {
  display: flex;
  gap: 2rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  width: 8rem;
}

.icons {
  width: 2rem;
}

.form-div {
  display: flex;
  gap: 1rem;
  margin: 1rem 0rem 0rem;
}

.left-form,
.right-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.right-form,
.left-form {
  gap: 3rem;
}

.signup-btn {
  background-color: #30E3CA;
  color: white;
  font-weight: 600;
  font-family: Arial;
  border: none;
  margin: 0rem 6rem 0rem;
  padding: 0.5rem 6rem 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.signup-btn:hover {
  scale: 1.05;
}

.signup-btn:active {
  background-color: #2ea595;
}

.signup-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 1rem;
}
/*------------------------------------------------Right Content-------------------------------------------------------*/

.right-content {
  position: relative;
  background-color: #30E3CA;
  flex: 1;
}

.standing-guy {
  position: absolute;
  margin: 4rem 0rem 0rem;
  bottom: 7rem;
  left: -1rem;
  scale: 1.7;
}
