/*------------------------------------------------General-------------------------------------------------------*/

/* Color pallete*/
#E4F9F5
#30E3CA
#11999E
#40514E
/* Color pallete*/

h2 {
  font-family: Nunito, Arial;
}

p {
  font-family: PT Sans, Arial;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: PT Sans, Arial;
}
/*------------------------------------------------Main Content-------------------------------------------------------*/
.main-content {
  display: flex;
  overflow: hidden;
  border-radius: 2rem;
  width: 50rem;
  height: 35rem;
  margin: 2rem;
}

/*------------------------------------------------Left Content-------------------------------------------------------*/

.left-content {
  background-color: #E4F9F5;
  flex: 1.5;
  padding: 1.5rem 1.5rem;
  align-items: center;
}

.logo {
  width: 4rem;
}

.icons-div {
  display: flex;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  width: 8rem;
}

.icons {
  width: 2rem;
}

.form-div {
  display: flex;
  gap: 1rem;
  margin: 1rem 0rem 0rem;
}

.left-form,
.right-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.signup-btn {
  background-color: #30E3CA;
  color: white;
  font-weight: 800;
  border: none;
  margin: 1rem 6rem 1rem;
  padding: 0.5rem 6rem 0.5rem;
  
}
/*------------------------------------------------Right Content-------------------------------------------------------*/

.right-content {
  position: relative;
  background-color: #30E3CA;
  flex: 1;
}

.standing-guy {
  position: absolute;
  width: 50rem;
  left: -1rem;
}
